<div class="school-activity-page">

	<div class="list-head flex-common">
		<div>活动名称</div>
		<div>项目</div>
		<div>时间</div>
		<div>结果</div>
	</div>

	<div class="active-list">

		{{each allData item}}
			<div class="active-item flex-common">
				<div>{{item.CompetitionName}}</div>
				<div>{{item.Project}}</div>
				<div>{{item.InDate.split(' ')[0]}}</div>
				{{if item.GameResult==='1'}}
					<div><img src="../../../../asset/images/personal/champion.png" alt=""></div>
				{{else if item.GameResult==='2'}}
					<div><img src="../../../../asset/images/personal/champion.png" alt=""></div>
				{{else if item.GameResult==='3'}}
					<div><img src="../../../../asset/images/personal/second.png" alt=""></div>
				{{else}}
					<div>第 {{item.GameResult}} 名</div>
				{{/if}}
			</div>
		{{/each}}

		{{if allData.length <= 0}}
			<div class="noData">暂无数据</div>
		{{/if}}

	</div>

</div>