@import "../../../../asset/common";

.school-activity-page{
    background: #fff;
    border-radius: rem(10);
    padding-top: rem(3);
    .flex-common{
        display: flex;
        align-items: center;
        justify-content: center;
        >div:nth-child(1){
            flex: 5;
        }
        >div:nth-child(2){
            flex: 3;
            margin: 0 rem(20);
        }
        >div:nth-child(3){
            flex: 3.5;
        }
        >div:nth-child(4){
            flex: 2;
        }
    }
    .list-head{
        font-size: rem(24);
        color: #fff;
        height: rem(55);
        line-height: rem(55);
        text-align: center;
        background: #ffaf00;
        border-top-left-radius: rem(10);
        border-top-right-radius: rem(10);
        padding: 0 rem(20);
    }
    .active-list{
        border-top: 1px solid #ffd477;
        border-left: 1px solid #e3e0db;
        border-top: 1px solid #e3e0db;
        border-bottom: 1px solid #e3e0db;
        .active-item{
            font-size: rem(24);
            color: #625b51;
            line-height: rem(30);
            margin: 0 rem(20);
            text-align: center;
            padding: rem(25) 0;
            >div:nth-child(1){
                font-size: rem(26);
                color: #050100;
                line-height: rem(35);
            }
            >div:nth-child(2){
                line-height: rem(30);
            }
            >div:nth-child(4){
                >img{
                    width: rem(60);
                    height: rem(90);
                }
            }
        }
        .active-item + .active-item{
            border-top: 1px solid #d9d8d4;
        }
    }
    
}