@import "../../asset/common";

.live-details-page{

    .liveBox{
        position: relative;
        >img:nth-child(1){
            width: 100%;
            height: rem(445);
            display: block;
        }
        >img:nth-child(2){
            position: absolute;
            left: rem(20);
            bottom: rem(20);
        }
    }
    
   .liveItem{
        background: #fff;
        border: 1px solid #e3e0db;
        border-radius: rem(15);
        padding: rem(20) rem(10);
        margin-top: rem(15);
        position: relative;

        &:before{
            content:'';
            display: inline-block;
            background: url('../../asset/images/games/play.png') no-repeat center;
            background-size: rem(54) rem(54);
            width: rem(54);
            height: rem(54);
            position: absolute;
            bottom: rem(30);
            left: rem(190);
        }

        >img{
            width: rem(250);
            height: rem(160);
            margin-right: rem(15);
            float: left;
        }

        >div{
            .title{
                font-size: rem(30);
                color: #050100;
                margin-bottom: rem(30);
            }
            .info{
                font-size: rem(24);
                color: #625b51;
            }
            .name{
                text-align: right;
                font-size: rem(24);
                color: #625b51;
            }
        }

   }
}