@import "../../asset/common";

.register-page{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#f1ede8;
  overflow-x:hidden;
  overflow-y: scroll;
  z-index:1002;

  >.head-logo{
    width: 100%;
    height: rem(280);
    background: #252525;
    padding-top: rem(60);
    box-sizing: border-box;
    img{
      width: rem(275);
      margin: 0 auto;
      display: block;
    }
  }
  
  >p.head-title{
    font-size: rem(36);
    color: #252525;
    text-align: center;
    padding-top: rem(20);
  }

  >.register-body{
    width:rem(520);
    margin:rem(60) auto rem(200);
    p{
      margin-bottom:rem(60);
      position: relative;
      input{
        text-align: center;
      }
      .register-phone{
        text-align: left;
        & + span{
          display: inline-block;
          width: rem(190);
          height: rem(65);
          line-height: rem(65);
          font-size: rem(30);
          background: #ffaf00;
          color: #ffffff;
          text-align: center;
          position: absolute;
          right: 0;
          top: 0;
          border-top-right-radius: rem(65);
          border-bottom-right-radius: rem(65);
        }
      }
    }
  }

  >.register-agree{
    font-size: rem(24);
    color: #625b51;
    text-align: center;

    span{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      img{
        width: rem(40);
        margin-right: rem(10);
      }
    }

    span.checked:after{
      content: '';
      display: inline-block;
      background: url('../../asset/images/register/checked.png') no-repeat center;
      background-size: rem(43) rem(27);
      width: rem(43);
      height: rem(27);
      position: absolute;
      bottom: rem(10);
      left: rem(5);
    }

  }

}