@import "../../asset/common";

.header{
    position:relative;
    height:rem(60);
    padding:0 rem(75);
    .btn-back{
        position:absolute;
        top:0;
        left:0;
        width:rem(75);
        height:rem(60);
        text-align: center;
        .icon-back{
            display:block;
            width:rem(40);
            height:rem(32);
            margin:rem(14) 0 0 rem(17);
            background:url("../../asset/images/icon_back.png") 0 0 no-repeat;
            background-size: rem(40) rem(32);
        }
    }
    .page-title{
        line-height: rem(60);
        text-align: center;
        font-size:rem(30);
        color:#fff;
    }
}