@import "../../asset/common";

.accountRent-success{
    padding: rem(15) rem(10) rem(30);
    height:100%;
    @include box-sizing();
    & > div{
        height:100%;
        background: #fff;
        border: 1px solid #e3e0db;
        border-radius: rem(12);
    }
    .head-info{
        margin:rem(50) rem(30) 0;
        height:rem(30);
        line-height: rem(30);
        font-size:rem(30);
        span.fl{ 
            color:#050100;
        }
        span.fr{
            color:#625b51;
        }
    }

    .account-info{
        position: relative;
        height:rem(50);
        line-height: rem(48);
        margin:rem(55) rem(30) 0;
        padding-left:rem(22);
        border:1px solid #cec9c3;
        border-radius: rem(10);
        background-color:#eeedeb;
        font-size:rem(24);
        color:#625b51;
        @include box-sizing();
        span:nth-child(2){
            padding-left:rem(100);
        }
        .copy{
            position: absolute;
            top:0;
            right:0;
            width:rem(165);
            height:rem(50);
            line-height: rem(48);
            text-align: center;
            border:1px solid transparent;
            border-top-right-radius: rem(10);
            border-bottom-right-radius: rem(10);
            background-color:#ffaf00;
            font-size:rem(24);
            color:#fff;
            @include box-sizing();
        }
    }
    .hint-info{
        margin:rem(60) rem(20) 0;
        padding-top:rem(45);
        border-top:2px solid #d9d8d4;
        p{
            margin:0 rem(10) 0 rem(35);
            line-height:rem(34);
            font-size:rem(24);
            color:#625b51;;
        }
    }
}