<div class="videos-page">
	<div id="mescroll" class="mescroll">
		<ul class="video-list" id="dataList"></ul>
	</div>
	<div class="videos-modal-mask js-handle" data-handle="closeMask">
		<div class="modal-content">
			<div class="title">请输入合作学校授权码</div>
			<input type="text" name="PINCode" class="codeInput">
			<div class="operator">
				<button class="js-handle" data-handle="closeMask">取消</button>
				<button class="js-handle" data-handle="handleConfirm">确定</button>
			</div>
		</div>
	</div>
</div>