@import "../../asset/common";
.edit-password{
  input[type='text'], input[type='password']{
    height: auto;
    padding-left: rem(20);
    border: 1px solid #cccccc;
    background-color: #f1ede8;
    line-height: inherit;
    font-size: rem(28);
  }
}
